@media(max-width: 414px) {
    .container {
        width: 95%;
        overflow: hidden;
    }

    section {
        padding: 50px 0px;
    }

    .secTitle h1 {
        font-size: 20px;
    }

    .sideIcon i:last-child {
        display: block !important;
    }

    .menu {
        position: fixed;
        top: 0;
        right: -100%;
        background: var(--whiteFb);
        z-index: 999;
        width: 100%;
        padding-top: 80px;
        height: 100%;
        opacity: 0;
        transition: 0.3s ease;
        -webkit-transition: 0.3s ease;
        -moz-transition: 0.3s ease;
        -ms-transition: 0.3s ease;
        -o-transition: 0.3s ease;
    }

    .activeMenu {
        right: 0px !important;
        opacity: 1 !important;
    }

    .logo {
        width: 22% !important;
    }

    .sideIcon {
        width: 26% !important;
    }

    ul#mainMenuItem {
        flex-direction: column;
    }

    ul#mainMenuItem li a {
        padding: 12px;
        display: block;
        font-size: 25px;
        font-weight: 600;
    }

    .slideLeftContent {
        width: 100% !important;
        position: absolute;
        top: 500px;
        left: 0px;
        padding: 20px;
    }

    .slideRightImg {
        position: absolute;
        right: 0px;
        width: 65%;
        top: 0;
    }

    .socialName {
        left: -110px;
        top: -300px;
    }

    .slideLCont {
        margin-left: 0px !important;
    }

    .slideLCont h1 {
        font-size: 35px;
    }

    section#featured {
        margin-top: 870px;
    }

    #menuClose {
        display: block !important;
    }

    .menuClose {
        position: absolute;
        right: 34px;
        top: 20px;
        font-size: 30px;
        cursor: pointer;
    }

    .productsWrapper {
        max-width: 100% !important;
        justify-content: space-between;
    }

    .singleProducts {
        margin-right: 0px !important;
        width: 46%;
        margin-bottom: 30px;
    }

    .singleArivial {
        width: 100%;
        margin-bottom: 50px;
        height: 400px !important;
    }

    .singleArivial:hover {
        height: 450px !important;
    }

    .arivialWrapper {
        flex-wrap: wrap;
    }

    .menuClose {
        display: block !important;
    }

    .singleArivial img {
        width: 45%;
    }

    .singleArivial .sale {
        left: 200px;
        top: 0px;
    }

    .subsWrapper {
        padding: 45px 30px;
    }

    .subsLeftContent {
        width: 100%;
        text-align: center;
        margin-bottom: 30px;
    }

    .subsRightInput {
        width: 100%;
    }

    input#email {
        width: 100%;
        margin-bottom: 10px;
    }

    div#inputBox {
        height: 131px;
    }

    .inputBoxBtn {
        width: 105%;
    }

    .singleFoot {
        width: 100%;
        margin-bottom: 60px;
    }

    .singleFoot:last-child {
        margin-bottom: -60px;
    }

    .leftStoryImg {
        width: 280px;
        height: 280px;
    }

    .leftStoryImg img {
        right: -30px;
        top: -30px;
    }

    .rightStoryContent {
        width: 100%;
    }

    .rightStoryContent .secTitle {
        text-align: center;
    }

    .rightStoryContent .secTitle h1 {
        font-size: 20px;
    }

    .rightStoryContent .secTitle h1::before {
        left: 50%;
    }

    .rightStoryContent h1 {
        font-size: 21px;
        margin-bottom: -15px;
        line-height: 30px;
    }

    .testLeft {
        width: 100%;
    }

    .testRight {
        width: 250px;
        height: 250px;
    }

    .testQoute {
        margin-bottom: 15px;
    }

    .testSingleBox {
        width: 72%;
        margin-bottom: 60px;
    }

    .testBoxContent h4 {
        font-size: 17px;
    }

    .singleTest p {
        font-size: 14px;
    }

    section#testomonial {
        margin: 0;
        padding: 0;
    }

    .testRight img {
        width: 250px;
        left: 30px;
        bottom: -27px;
    }

    section#arivial {
        margin: 0px;
    }

    section#subscription {
        margin: 0px;
    }

    section#story {
        margin: 0px;
    }

    section#products {
        margin: 0px;
    }

    .singleFeatured {
        width: 100%;
        margin-bottom: 40px;
        height: 370px;
    }

    .singleFeatured:hover {
        height: 440px;
    }
}