@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
:root {
  --primary: #ffb566;
  --white: #ffffff;
  --grayWhite: #939593;
  --black: #000000;
  --grayBlack: #262626;
  --btnColor: #2b2b2b;
}
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}
section {
  padding: 80px 0px;
}
body {
  font-family: Poppins, sans-serif;
  font-size: 16px;
  color: var(--black);
  background: var(--white);
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Poppins, sans-serif;
  font-size: 16px;
  font-weight: 600;
}
img {
  max-width: 100%;
}
header#topBar {
  background: transparent;
  position: fixed;
  top: 0px;
  width: 100%;
  transition: all 0.3s ease 0s;
  z-index: 999;
  padding: 20px 0px;
}

.barActive {
  background: var(--white) !important;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
.container {
  max-width: 1140px;
  margin: auto;
  padding: 0px 15px;
  overflow: hidden;
}
.barWrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.logo {
  width: 7%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo i {
  font-size: 15px;
  font-weight: 600;
  transition: all 0.3s ease 0s;
}
.logo i:hover {
  cursor: pointer;
}
.logo p {
  text-transform: uppercase;
  font-weight: 600;
  font-size: 18px;
  transition: all 0.3s ease 0s;
}
.logo p:hover {
  cursor: pointer;
}
.menu {
  width: 75%;
}
ul#mainMenuItem {
  display: flex;
  align-items: center;
}
ul#mainMenuItem li a {
  padding: 0px 20px;
  font-size: 17px;
  font-weight: 500;
  color: var(--grayBlack);
  transition: all 0.3s ease 0s;
}
ul#mainMenuItem li a:hover {
  cursor: pointer;
  color: var(--primary);
}
.sideIcon {
  width: 5%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.sideIcon i {
  font-size: 20px;
  color: var(--black);
  transition: all 0.3s ease 0s;
}
.sideIcon i:hover {
  cursor: pointer;
}
.sideIcon i:last-child {
  display: none;
}
#homeSlider {
  width: 100%;
  height: 100%;
  display: flex;
  padding: 0px;
}
.sliderWrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.slideLeftContent {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}
.socialName {
  width: 250px;
  position: absolute;
  transform: rotate(270deg);
  display: flex;
  justify-content: space-between;
  left: -18%;
}
.slideRightImg {
  background: var(--primary);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 90px 0px;
}
.slideRightImg img {
  max-width: 80%;
}
.socialName a {
  font-size: 14px;
  color: var(--grayWhite);
}
.slideLCont {
  margin-left: 80px;
  width: 80%;
}
.slideLCont h1 {
  font-size: 37px;
  font-weight: 600;
  margin-bottom: 20px;
  line-height: 50px;
  color: var(--grayBlack);
}
.slideLCont p {
  margin: 20px 0px;
  font-size: 15px;
  color: var(--grayBlack);
}
.slideLCont span {
  display: block;
  font-size: 25px;
  font-weight: 500;
  color: var(--primary);
  margin-bottom: 25px;
}
.sLCB button {
  border: none;
  padding: 14px 25px;
  font-size: 16px;
  font-weight: 500;
  color: var(--grayBlack);
  background: rgb(191, 191, 191);
  transition: all 0.3s ease 0s;
}
.sLCB button:hover {
  cursor: pointer;
}
.btnBlack {
  text-transform: uppercase;
  margin-left: -9px;
  transition: all 0.3s ease 0s;
  border-radius: 2px;
  background: var(--grayBlack) !important;
  color: var(--white) !important;
  padding: 18px 25px !important;
}
.btnBlack:hover {
  cursor: pointer;
  background: var(--btnColor);
}
.secTitle {
  text-align: center;
  margin-bottom: 50px;
}
.secTitle h1 {
  font-size: 25px;
  position: relative;
  margin-top: 10px;
}
.secTitle h1::before {
  content: "";
  position: absolute;
  top: -9px;
  left: 50%;
  transform: translateX(-50%);
  background: var(--primary);
  width: 80px;
  height: 1px;
  display: block;
}
.featuredWrapper {
  display: flex;
  justify-content: space-between;
  text-align: center;
  align-items: flex-start;
}
.singleFeatured {
  width: 30%;
  height: 350px;
  padding: 30px;
  border: 1px solid #f0f0f0;
  transition: all 0.3s ease 0s;
  position: relative;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -ms-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
}
.singleFeatured:hover {
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px,
    rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
  height: 410px;
}
.sale {
  position: absolute;
  top: 50px;
  left: -23px;
  background: var(--primary);
  padding: 3px 20px;
  border-radius: 2px;
  color: var(--white);
  font-weight: 300;
  transform: rotate(270deg);
}
.singleFeatured img {
  width: 50%;
  margin-bottom: 20px;
}
.singleFeatured button {
  width: 60%;
  text-align: center;
  border: none;
  opacity: 0;
  transform: scaleY(0);
  transform-origin: center top;
  transition: all 0.3s ease 0s;
  margin: 10px auto;
}
.singleFeatured:hover button {
  opacity: 1;
  transform: scaleY(1) !important;
}
.singleFeatured h2 {
  font-size: 18px;
  margin-bottom: 5px;
}
.singleFeatured p {
  font-weight: 500;
  color: var(--primary);
}
